<header class="navbar navbar-expand navbar-dark">
    <div class="header-container"></div>
    <div class="menu-container"></div>
</header>
<div class="content-container"></div>
<div class="footer-container"></div>
