<div class="phone-number"><a href="{{phone.number}}">{{phone.title}}</a></div>
<div class="make-claim">
    <button class="btn make-claim-btn">Записаться</button>
</div>

<div class="menu-container">
    {{#each partitions}}
        <a href="#{{system_name}}">{{title}}</a>
    {{/each}}
</div>